亲爱的用户：<br/>您好！<br/>
	
	感谢您使用本系统，点击下面的链接,重置您的登陆密码。</span><br/><br/>
	
	<a href="${url}">${url}</a><br/><br/>	
	
	(如果无法点击该URL链接地址，请将它复制并粘帖到浏览器的地址输入框，然后单击回车即可。)<br/><br/>
	
	请您在收到邮件24小时(${expireDate}之内)进行重置，否则该链接将会失效。</span><br/><br/>
	
	chenwulou</span><br/>
	${sendDate}		