<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextName>herakles</contextName>

	<!-- 控制台 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %level [%thread] [user: %X{userName:-unknown}] %logger{55} - %msg%n</pattern>
		</encoder>
	</appender>

	<property name="LOG_HOME" value="E:\\herakles\\log" />
	<!--file 按日期和大小区分的滚动日志 -->
	<appender name="file_all" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/herakles.log</file>

		<encoder>
		    <pattern>%date %level [%thread] [user: %X{userName:-unknown}] %logger{55} - %msg%n</pattern>
		</encoder>
<!-- 
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_HOME}/herakles.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
			<!-- or whenever the file size reaches 10MB -->
			<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

	<!-- mongo -->
	<appender name="mongo" class="com.lcw.herakles.platform.common.logback.appender.MongoDBAppender">
		<host>127.0.0.1</host>
		<port>27017</port>
		<db>herakles</db>
	</appender>

	<!-- 防止刷屏, 耗费资源 -->
	<logger name="org.mongodb" level="info" />
	<logger name="org.hibernate" level="info" />
	<logger name="org.apache.shiro" level="info" />
	<logger name="com.alibaba.druid" level="info" />
	<logger name="org.apache.commons" level="info" />
	<logger name="org.apache.velocity" level="info" />
	<logger name="org.springframework" level="info" />
	<!--  
	<logger name="com.lcw.herakles" level="info" />
	-->
	<!-- debug project -->
	<logger name="com.lcw.herakles" level="debug" />

	<root level="debug">
		<appender-ref ref="console" />
		<appender-ref ref="file_all" />
		<!-- 
		<appender-ref ref="mongo" />
		 -->
	</root>
</configuration>
