亲爱的用户${nickName}：您好！<br/><br/>
	
	感谢您注册本系统，您刚才申请了#if(${isUnbound} == "true")邮箱解绑#else邮箱绑定#end操作，请点击下面的链接完成验证。验证通过后，#if(${isUnbound} == "true")邮箱解绑#else邮箱绑定#end即会实时生效。</span><br/><br/>
	
	<a href="${url}">${url}</a><br/><br/>	
	
	(如果无法点击该URL链接地址，请将它复制并粘帖到浏览器的地址输入框，然后单击回车即可。该链接使用后将立即失效。)<br/><br/>
	
	为了保护您的账号安全，请您在收到邮件24小时(${expireDate}之内)进行激活，否则该激活码将会失效。
	
