/*! The common styles for JPet Store */

/*
 * What follows is the result of much research on cross-browser styling.
 *
 * Author: Tao Shi
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* 
 * Set a page background globally.
 */
html {
    background: url("../img/write.png") repeat scroll 0 0 #EDECE9;
}

/* 
 * Since we used the fixed top navigation bar, 
 * we need set body to leave top padding 70px.
 */
body {
	background-color: transparent;
	padding-top: 70px;
}


/* ==========================================================================
   Common styles
   ========================================================================== */

/* 
 * Make the loading image of infinite-scroll plugin 
 * horizontal align with center.
 */

.last-block{
   margin-bottom: 0px;
   font-size: 12px;
}

.error-modal .panel-body{
   overflow: auto;
}

.navbar-brand{
	position: relative;
}

.navbar-brand img{
	top: -13px;
	width: 44px;
	position: relative;
}

#infscr-loading{
   border-top: 1px solid #ddd;
   padding-top: 15px;
}
#infscr-loading img{
	display: block;
	margin: 0 auto;
}
#infscr-loading > div{
	text-align: center;
}

/* 
 * Reset the background color to #f0f0f0 for thumbnail item
 * and make it bordless.
 */
.masonry-container .thumbnail.item{
	border: 0px;
	border-radius: 0px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.thumbnail.item .breadcrumb{
	margin-bottom: 10px;
}
.thumbnail.item > a{
	display: block;
	position: relative;
    margin: -4px -4px 3px;
}

/* 
 * Add hover mask for the image included in thumbnail item.
 */
a .hover-mask {
    border-radius: 0;
    bottom: 0;
    box-shadow: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background 0.2s linear 0s;
    z-index: 100;
}
a:hover .hover-mask {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
}
a:active .hover-mask {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
}

/*
 * Add label-danger color to cart badge.
 */
#cart-num {
	background-color: #D9534F;
}

/**
 * General error box for form validaton
 */
.general-error{
	display: none;
}
label.invalid{
    padding: 5px;
    border: 1px solid #ebccd1;
    background-color: #f2dede;
    color: #A94442;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 11px;
    margin-top: -1px;
}
input.valid{
	background-color: #DFF0D8;
    color: #3C763D;
}
input.valid:after { 
	content: "\f005";
	font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin:0px 0px 0px 10px;
    text-decoration:none;
}
input.invalid{
	border-color: #ebccd1;
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}


/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*
 * Responsive design for mansonry thumbnail items.
 */
@media (max-width: 383px) {
  .masonry-container .item{
	width: 100%;
  }
  .masonry-container .gutter{
	width: 0px;
  }
}
@media (min-width: 384px) and (max-width: 767px) {
  .masonry-container .item{
	width: 49%;
  }
  .masonry-container .gutter{
	width: 2%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .masonry-container .item{
	width: 32%;
  }
  .masonry-container .gutter{
	width: 2%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .masonry-container .item{
	width: 23%;
  }
  .masonry-container .gutter{
	width: 2.66%;
  }
}
@media (min-width: 1200px) {
  .masonry-container .item{
	width: 19%;
  }
  .masonry-container .gutter{
	width: 1.25%;
  }
}
@media (max-width: 991px){
  .thumbnail.item .input-group.spinner{
  	margin-bottom: 10px;
  }
}
